
#introduction {
    background-color: #1F2937;
}

.main {
    font-family: Roboto,'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: 900px;
    color: #F9FAF8;
}

.subtext {
    font-family: Roboto,'Times New Roman', Times, serif;
    font-size: 18px;
}