* {
    outline: 2px solid red;
    background-color: #1F2937;

}

body {
    display: flex;
    flex-direction: column;

}

#introduction {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    flex: 1 1 500px;
    margin: 100px 100px;


}

#information {
    display: flex;
    flex: 1 1 500px;
}

#quote {
    flex: 1 1 500px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 0;
    padding: 120px 20px;
    gap: 10px;

}

.hero-text {
    font-size: 50px;
    font-weight: 500;
    color: white;
   
}

.subtext {
    font-size: 20px;
    font-weight: 200;
    color: white;
    
}

.hero-button {
    font-size: 10px;
    height: 20px;
    width: 70px;
    background-color: #3882f6;
}

.top-image {
    height: 100px;
    width: 100px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2 1 0;

}





